# Calculating Probabilities

In many countries, there are bikesharing programs where anyone can rent a bike from a depot, and return it at other depots throughout a city. There is one such program in Washington, D.C., in the US. We'll be looking at the number of bikes that were rented by day. Here are the relevant columns:

- `dteday` -- the date that we're looking at. 
- `casual` -- the number of casual riders (people who hadn't previously signed up with the bikesharing program) that rented bikes on the day. 
- `registered` -- the number of registered riders (people who signed up previously) that rented bikes. 
- `cnt` -- the total number of bikes rented.

In [2]:
import pandas as pd

In [4]:
bikes = pd.read_csv("bike_rental_day.csv")

In [5]:
bikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [8]:
bikes.shape

(731, 16)

In [10]:
num_days = bikes.shape[0]

In [14]:
# The probability that more than 4000 bikes were rented on any given day

probability_over_4000 = bikes[bikes["cnt"] > 4000].shape[0] / num_days
probability_over_4000

0.6183310533515732

In [15]:
# The probability that 1 coin out of 3 is heads

coin_1_prob = 3 *.5 *.5 *.5
coin_1_prob

0.375

In [18]:
import math

def NchooseK(N, k):
    return math.factorial(N) / math.factorial(k) * math.factorial(N - k)

In [19]:
# The number of combinations where 8 days out of 10 have more than 4000 rentals

combinations_8 = NchooseK(10, 8)
combinations_8

180.0

In [20]:
# The number of combinations where 8 days out of 10 have more than 4000 rentals

combinations_9 = NchooseK(10, 9)
combinations_9

10.0

In [21]:
# Let's say that the probability of having a sunny day is 0.7
# Find the probability of a single combination for finding 3 days out of 5 are sunny.
# The combination is Sunny, Sunny, Sunny, Not Sunny, Not Sunny.

prob_combination_3 = 0.7 * 0.7 * 0.7 * 0.3 * 0.3
prob_combination_3

0.03086999999999999

In [22]:
# The probability of 8 days out of 10 having more than 4000 riders

def comb_prob(n,k,p,q):
    return (p ** k) * (q ** (n-k))

p = 0.6
q = 0.4

prob_8 = NchooseK(10, 8) * comb_prob(10,8,p,q)
prob_8

0.48372940799999986